{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/login.css' %} ">
    <title>Document</title>
</head>
<body>
    
    <div class="login-page">
        <div class="form">
          <form class="register-form" method='POST'>
            {% csrf_token %}
            {% if error == True %}
              <p style="color:red";>Email is already taken!!!</p>
            {% endif %}
            <input type="email" name='email' placeholder='email'>
            <input type="password" name='password' placeholder="password"/>
            <input type="password" name='cpassword' placeholder="confirm password"/>

            {% if same_password == True %}
              <p style="color:red";>Password and confirm password do not match!!1</p>
            {% endif %}

            <button type = 'submit' onclick="validateUser()">create</button>
            <p class="message">Already registered? <a href=" {% url 'user:login' %} ">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>